<!DOCTYPE html>
<html ng-app="hacknightApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script>
          var posts = [];
          {% for post in site.posts  %}
              posts.push("{{ post.url }}");
          {% endfor %}
        </script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="PageCtrl">

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">Hack Night</a></h1>
          </div>

          <div id="main">
          {{ content }}
          </div>

          <hr>
          <div class="">
            <a href="" class="btn btn-default pull-left previous">Previous</a>
            <a href="" class="btn btn-default pull-right next">Next</a>
          </div>
        </div>

    </body>
</html>